README.md
tasks.md
venv
.idea
R4C/__pycache__/
customers/__pycache__/
customers/migrations/__pycache__/
orders/__pycache__/
orders/migrations/__pycache__/
robots/__pycache__/
robots/migrations/__pycache__/
db.sqlite3
